<div class="container">

  <div class="bg-faded p-4 my-4">
    <hr class="divider">
    <h2 class="text-center text-lg text-uppercase my-0">
      <strong>어디로 갈까요?</strong>
    </h2>
    <hr class="divider">
    <div class="row">
      <div class="col-lg-12">
        <div class="embed-responsive embed-responsive-16by9 map-container mb-4 mb-lg-0">
          <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        </div>
      </div>
    </div>
  </div>

</div>